.single-service{
    border: 1px solid #302b2b;
    border-radius: 7px;
    padding: 10px;
}
.single-service img{
width: 100%;
}
.btn{
    background-color: rgb(66, 71, 146);
    padding: 7px;
    border-radius: 10px;
    margin-left: 33.33%;
}

 